#logo {
    height: 51px;
    width: 200px;
}

/* .navbar-brand{
    padding: 0px;
    float: left;
} */

.navbar-default {
    margin: 0;
    background-color: #1F2E62;
    border: none;
    height: 80px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    margin-top: 17px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-brand>img {
    height: 80px;
    width: 220px;
}

.navbar-brand {
    padding: 0px;
}

#signupBtn {
    font-size: 20px;
    border-radius: 2rem;
    background-color: white;
    color: #293745;
    font-weight: 700;
    margin-right: 10px;
}

.navbar-default .navbar-brand>a {
    vertical-align: middle;
}

.banner {
    /* background-image: url(./images/new-banner.jpg);
    background-size: cover; */
    height: 410px;
    width: 100%;
    display: flex;

    flex-flow: column;
    align-items: center;
}

#log {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 340px;
    box-shadow: 0 0 4px 1px lightgrey;
}

#lo {
    height: 100px;
    width: 400px;
}

#cover {
    width: 100%;
    height: 300px;
}

.info {
    height: 395px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.info-list {
    display: flex;
    flex-flow: column;
    width: 60%;
    text-align: center;
}

/* .info-head > h1,
.info-head > h3 {
    color: black;
} */

.social-media {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
}

.social-item>a>img {
    height: 40px;
    width: 40px;
}

.call {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}

i {
    margin-right: 10px;
}

.address {
    height: 400px;
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.add-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    width: 75%;
}

.add-item {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-content>p {
    font-size: 20px;
    font-weight: 600;
    width: 70%;
}

.share {
    width: 100%;
    height: auto;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding-bottom: 40px;
}

#share-btn {
    width: 300px;
    background-color: #2e2751;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1rem 0 1em 0;
    border-color: white;
}

.share>h1 {
    text-align: center;
}

.share-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    width: 100%;
    box-shadow: 0 0 10px 3px;
    margin-top: 20px;
    background-color: #b9cdd7;
    border-radius: 0.5rem;
}

.share-item {
    width: 30%;
    margin: 30px;
    text-align: center;
}

.share-item>a>i {
    font-size: 18px;
}

.share>button {
    font-size: 20px;
}

.share>button>i {
    font-size: 24px;
}

.main {
    height: auto;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

.sign-upImage {
    width: 70%;
}

.sign-upImage>img {
    width: 100%;
    height: 750px;
}

.form {
    /* border: 1.5px solid whitesmoke;
    border-radius: 1rem; */
    padding: 30px;
    text-align: center;

    width: 100%;
    margin-right: 40px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#name {
    width: 300px;
    height: 40px;
}

#signup-btn {
    width: 90%;
}

.login {
    display: none;
    background-color: #4d4d4d;
    color: white;
    width: 30%;
}

.register {
    display: flex;
    width: 30%;
    background-color: #4d4d4d;
    color: white;
}

.register>.form>i,
.login>.form>i {
    font-size: 40px;
    color: white;
}

.form>h3 {
    margin-bottom: 50px;
    font-weight: 800;
    font-size: 30px;
    color: white;
}

#logbtn {
    margin-top: 30px;
    width: 90%;
}

.projects {
    height: auto;
}

.contact-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.contact-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: center;
    padding: 50px;
    background-color: #f2f2f2;
}

.contact-content {
    width: 25%;
    padding: 50px;
}

.contact-form {
    width: 65%;
    margin-left: 40px;
}

.contact-form>.container {
    background-color: #fafafa;
}

#fields {
    color: red;
}

.contact-form>.container>form>.btn-row {
    display: flex;
    justify-content: center;
}

Style inputs,
select elements and textareas input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

#fname {
    width: 495px;
    height: 40px;
}

/* Style the label to display next to the inputs */
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: 600;
}

#contact-label {
    color: #2e2751;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

/* Style the container */
.contact-form>.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {

    .col-25,
    .col-75,
    input[type="submit"] {
        width: 100%;
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 600px;
    }
}

.vl {
    border-left: 4px solid #2e2751;
    height: 400px;
}

/* .contact-form>.container>form>.btn-row{
      display: flex;
      justify-content: center;
      
  } */

.contact-form>.container>form>.btn-row>button {
    background-color: #2e2751;
    color: white;
    font-size: 17px;
    border-radius: 0.5rem;
    width: 150px;
    margin-top: 1rem;
}

.service,
.projects {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    margin-top: 50px;
}

.service-head,
.project-head,
.aboutus-head {
    border-bottom: 2px solid lightgray;
    width: 70%;
}

.service-head>h1,
.project-head>h1 {
    font-weight: 600;
    font-size: 27px;
}

.aboutus-head>h1 {
    font-weight: 600;
    font-size: 27px;
}

.service-list {
    display: flex;
    flex-flow: column;
    width: 70%;
    padding-left: 30px;
    background-color: white;
    box-shadow: 0 0 4px 1px lightgrey;
    border-radius: 0.5rem;
}

.project-item {
    margin-bottom: 23px;
    margin-top: 20px;
}

.project-list {
    display: flex;
    flex-flow: column;
    width: 70%;
    padding-left: 30px;
    background-color: white;
    box-shadow: 0 0 4px 1px lightgrey;
    border-radius: 0.5rem;
    padding-left: 30px;
    height: auto;
    padding-bottom: 20px;
}

.projectItem-list {
    display: flex;
    flex-flow: column;
    /* justify-content: space-between; */
    width: 100%;
    /* align-items: center; */
    padding-left: 100px;
    padding-bottom: 40px;
}

.project-image {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}

.project-image>img {
    width: 280px;
    height: 200px;
    box-shadow: 0 0 4px 1px lightgrey;
    margin-right: 75px;
}

.project-content {
    width: 65%;
}

.project-content>h2 {
    font-weight: 600;
    padding-bottom: 20px;
    color: black !important;
}

.project-content>p {
    color: black !important;
}

.contact-content>h2 {
    color: #2e2751 !important;
}

.contact-content>p {
    color: #2e2751 !important;
}

.aboutus {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.aboutus-sub {
    width: 70%;
    box-shadow: 0 0 4px 1px lightgrey;
    border-radius: 0.5rem;
    padding: 20px;
}

.dash-body {
    background: linear-gradient(125deg, #292731 25%, #2d2b36 25%);
}

.basic,
.service-form,
.project-form {
    box-shadow: 0 0 4px 1px lightgrey;
    background-color: white;
    padding: 30px;
    border-radius: 0.5rem;
    margin-top: 50px;
}

.basic>h3,
.service-form>h3,
.project-form>h3 {
    font-weight: 600;
    border-bottom: 2px solid darkgray;
    padding-bottom: 5px;
}

.basic>form>input,
.service-form>form>input,
.project-form>form>input {
    margin-bottom: 15px;
}

.project-form {
    margin-bottom: 50px;
}

.dash-head {
    box-shadow: 0 0 4px 1px lightgrey;
    background-color: white;
    padding: 15px;
    border-radius: 0.5rem;
    margin-top: 50px;
    text-align: center;
}

.dash-head>h2 {
    font-size: 24px;
}

.panels {
    margin-top: 50px;
}

.panels>.container {
    width: 70%;
}

.panel-default>.panel-heading {
    background-color: black;
    color: white;
}

.panel-title {
    font-size: 24px;
}

/* ////////////////////////  Home Page css  ////////////////////////// */

.home-banner {
    background-image: url(./images/new-home.gif);
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.home-head {
    width: 50%;
    padding-left: 100px;
}

.home-head>h1 {
    color: white;
    font-weight: 700;
    font-size: 50px;
    line-height: 7rem;
    padding-bottom: 30px;
}

.home-head>p {
    color: white;
    font-size: 24px;
    padding-bottom: 30px;
}

.home-head>a {
    font-size: 25px;
    /* border-radius: 4rem; */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #286090;
    border: 1px solid white;
}

.howitWorks {
    background-color: white;
    height: 600px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.howitWorks-head {
    padding-top: 30px;
    text-align: center;
}

.howitWorks-head>h2 {
    font-size: 36px;
    font-weight: 700;
    padding-bottom: 15px;
}

.howitWorks-head>p {
    font-size: 18px;
}

.howitWorks-list {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%;
    padding: 50px;
}

.howitWorks-item {
    width: 27%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.howitWorks-item>img {
    height: 150px;
    width: 160px;
    box-shadow: 0 0 4px 1px lightgray;
    margin-bottom: 20px;
}

.howitWorks-item>h4 {
    font-weight: 600;
}

.features {
    background-color: #f2f2f2;
    height: 500px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.features-head {
    padding-bottom: 40px;
    padding-top: 30px;
}

.features-head>h2 {
    font-size: 30px;
    font-weight: 700;
}

.feature-item>p {
    font-size: 18px;
    text-align: justify;
    line-height: 30px;
    font-weight: 600;
}

.feature-item>p>i {
    color: #3b317d;
    font-weight: 600;
}

.feature-list {
    width: 70%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
}

.feature-item {
    width: 45%;
}

.feature-img {
    width: 45%;
}

.feature-img>img {
    height: 325px;
    width: 355px;
}


.footer {
    height: auto;
    background-color: #1F2E62;
    display: flex;
    justify-content: flex-end;
    flex-flow: column;
    align-items: center;
}

.footer-list {
    text-align: center;
    color: lightgray;
}

.generate {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.generate>a {
    font-size: 20px;
    font-weight: 600;
}

.form-list {
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding-bottom: 90px;
    align-items: center;
}

.form-item {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    width: 70%;
}

#saveIcon {
    font-size: 22px;
}

#saveBtn {
    font-size: 19px;
}

.myDetails,
.myservice,
.myproject {
    padding-top: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.myDetails-sub {
    width: 70%;
    flex-flow: column;
    display: flex;
    box-shadow: 0 0 4px 1px lightgrey;
    align-items: center;
    padding: 30px;
}

#profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 20px;
}

.myDetails-content>p {
    text-align: justify;
    margin-bottom: 12px;
}

.myDetails-content {
    text-align: justify;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.myservice-sub {
    width: 70%;
    flex-flow: column;
    display: flex;
    box-shadow: 0 0 4px 1px lightgrey;
    padding: 30px;
}

.myserviceItem-list {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.myserviceItem-item>p {
    text-align: justify;
}

#editbtn {
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.myproject-sub {
    width: 70%;
    flex-flow: column;
    display: flex;
    box-shadow: 0 0 4px 1px lightgrey;
    padding: 30px;
}

.project-contents {
    width: 45%;
}

.update {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 130px;
}

.update-sub {
    width: 50%;
    box-shadow: 0 0 4px 1px lightgrey;
    padding: 30px;
}

.myDetails-head {
    display: flex;
    justify-content: flex-start;
}

.myDetails-head>h1 {
    font-weight: 600;
}

.myservice-sub>h1,
.myproject-sub>h1 {
    font-weight: 600;
}

#editbigbtn {
    width: 95%;
}

/* #updateMsg{background-color: white;} */

.update-msg {
    background-color: white;
    padding-top: 50px;
    height: 100px;
}

.test {
    background-color: white;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
}

.payment {
    height: 630px;
    justify-content: center;
    display: flex;
    background-color: white;
    background-image: url('/images/plan.gif');
    background-repeat: no-repeat;
    background-size: cover;
}

.payment-list {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 70%;
    align-items: center;
}

.payment-list>a {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    margin: 35px;
}

.forgot {
    height: 600px;
    background-color: white;
    display: flex;
    align-items: center;
}

.forgot-sub {
    width: 100%;
    display: flex;
    justify-content: center;
}

.forgot_form {
    box-shadow: 0 0 4px 1px;
    width: 40%;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.otp-main {
    height: 600px;
    background-color: white;
    display: flex;
    align-items: center;
}

.otp-sub {
    display: flex;
    justify-content: center;
    width: 100%;
}

.otp-form {
    box-shadow: 0 0 4px 1px lightgray;
    padding: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 40%;
}

.vcf {
    height: 400px;
    width: 100%;
}

.vcf-list {
    width: 100%;
    display: flex;
    justify-content: center;
}

.vcf-item {
    width: 70%;
    box-shadow: 0 0 4px 1px lightgray;
    background-color: white;
    height: auto;
    border-radius: 0.5rem;
    padding: 50px;
}

.works {
    background-image: url("/images/works2.jpg");
    background-position: center;
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

.works-list {
    width: 50%;
    display: flex;
    justify-content: center;
}

.works-item {
    background-color: black;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    opacity: 0.8;
}

.works-item>h1 {
    font-weight: 700;
    font-size: 40px;
}

.work-steps {
    height: auto;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    padding-bottom: 50px;
}

.workSteps-list {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
}

.workSteps-item {
    color: black;
}

.work-steps>h1 {
    text-align: center;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-weight: 700;
}

.workSteps-item>h2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
}

.workSteps-item>h3 {
    font-size: 18px;
}

.workSteps-item>img {
    height: 300px;
    margin-bottom: 40px;
}

#con {
    width: 100%;
}

.dark-mode {
    background-color: black;
    color: white !important;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: white;
    color: black !important;
}

.about-brief>h2 {
    color: black !important;
}

.service-item>h2,
.service-item>p {
    color: black !important;
}

.dark {
    text-align: center;
    padding: 5px;
}

.dark>a {
    background-color: black;
}

.pricing-head {
    width: 100%;
    display: flex;
    justify-content: center;
}

.pricinghead-sub {
    width: 60%;
    text-align: center;
    color: #1f2e62;
}

.pricinghead-sub>h3 {
    font-weight: 800;
}

.pricing {
    display: flex;
    justify-content: center;
    height: auto;
    padding: 30px;
}

.pricing-list {
    width: 60%;
    display: flex;
    justify-content: center;
}

.pricing-item {
    width: 50%;
    box-shadow: 0 0 4px 1px lightgray;
    height: auto;
    text-align: center;
    padding-bottom: 10px;
    background-color: white;

}

.pricing-item>h3 {
    font-weight: 700;
    background-color: #1f2e62;
    margin-top: 0px;
    color: white;
    padding: 30px;
    font-size: 30px;
}

.pricing-item>h2 {
    color: #1f2e62;
    font-weight: 800;
}

.feaut {
    padding: 20px;
}

.feaut>h3 {
    font-weight: 700;
}

.feaut>p {
    font-weight: 600;
}

.pricing-item>h5 {
    font-weight: 700;
}

.pricing-item>.feaut>p {
    text-align: justify;
}

.buy>a {
    background-color: #1f2e62;
    color: white;
    width: 50%;
    font-size: 23px;
}

.priceback {
    background-image: url(/images/1034.jpg);
    background-position: center;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.myserviceItem-item {
    width: 80%;
}

.myserviceItem-item>h3 {
    font-weight: 700;
}

.social-mediaIcons {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 40%;
    padding-top: 20px;
    padding-bottom: 30px;
}

#google_translate_element {
    margin-top: 10px;
    width: 200px;

}

.sidenav {
    height: 73%;
    width: 221px;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 0;
    background-color: #F2F2F2;
    overflow-x: hidden;
    padding-top: 60px;
    padding-left: 10px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block;

    margin-bottom: 10px;
}

.sidenav a:hover {
    background-color: #1F2E62;
    color: white;
}


.dashDetails {
    height: 630px;

    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
}

.dashDetails>h1 {
    background-color: #4CAF50;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.daysBox {
    height: 100px;
    width: 250px;
    box-shadow: 0 0 4px 1px lightblue;
    text-align: center;
    border-radius: 0.5rem;
    background-color: #1F2E62;
    color: white;
    margin-top: 100px;
}




@media screen and (max-width: 768px) {
    .dashDetails>h1 {
        background-color: #4CAF50;
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-size: 22px;
    }

    .daysBox>h2 {
        font-size: 23px;
    }

    .dashDetails {
        height: 535px;
    }

    .daysBox {
        height: 66px;
        width: 226px;
        box-shadow: 0 0 4px 1px lightblue;
        text-align: center;
        border-radius: 0.5rem;
        background-color: #1F2E62;
        color: white;
        margin-top: 100px;
    }

    .sidenav {
        display: none;
    }

    #fname {
        width: 280px;
        height: 30px;
    }

    .address {
        height: auto;
        width: 100%;
    }

    .add-list {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        width: 90%;
    }

    .add-item {
        width: 100%;
        margin-bottom: 55px;
    }

    .info-head>h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .info-list {
        width: 70%;
    }

    .add-content>p {
        font-size: 15px;
        width: 100%;
    }

    .share {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
    }

    .share-list {
        padding: 10px;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .navbar-collapse {
        background-color: wheat;
        border: none;
    }

    .navbar-default {
        height: auto;
    }

    .navbar-default .navbar-nav>li>a {
        margin: 0px;
    }

    .panel-title {
        font-size: 17px;
    }

    .about-brief>h2 {
        font-size: 18px;
        font-weight: 600;
    }

    .service-item>h2 {
        font-size: 18px;
        font-weight: 600;
    }

    .projectItem-list {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
    }

    .project-image {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .project-image>img {
        height: 170px;
        width: 225px;
        margin: 0px;
        margin-bottom: 15px;
    }

    .contact-list {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        padding: 20px;
        width: 90%;
    }

    .contact-form {
        width: 90%;
        margin-left: 5px;
    }

    .contact-content {
        width: 100%;
        padding: 30px;
    }

    .vl {
        display: none;
    }

    .contact-form>.container>form>label {
        font-weight: 600;
    }

    .panels>.container {
        width: 90%;
    }

    .sign-upImage {
        display: none;
    }

    .register,
    .login {
        width: 90%;
    }

    .form {
        margin: 0px;
    }

    .main {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    /* ///////////////////////////// home page ////////////////////////////////////////// */

    .navbar-brand>img {
        height: 50px;
        width: 195px;
    }

    .home-banner {
        height: 700px;
        display: flex;
        justify-content: center;
    }

    .home-head {
        width: 90%;
        padding: 20px;
    }

    .home-head>h1 {
        font-size: 29px;
        line-height: 4rem;
    }

    .home-head>p {
        font-size: 19px;
    }

    .howitWorks-head {
        padding: 30px;
    }

    .howitWorks {
        height: auto;
    }

    .howitWorks-list {
        display: flex;
        flex-flow: column;
        padding: 20px;
        align-items: center;
        width: 90%;
    }

    .howitWorks-item {
        width: 80%;
    }

    .features {
        height: auto;
    }

    .feature-list {
        display: flex;
        flex-flow: column;
        width: 90%;
        align-items: center;
    }

    .feature-img {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .feature-img>img {
        height: 266px;
        width: 300px;
    }

    .feature-item {
        width: 80%;
        margin-top: 30px;
        padding-bottom: 30px;
    }

    .project-content {
        width: 85%;
    }

    .project-content>h2 {
        font-size: 22px;
    }

    .project-contents {
        width: 70%;
    }

    .myproject-sub,
    .myservice-sub,
    .myDetails-sub {
        width: 90%;
        padding: 10px;
    }

    .myDetails-content {
        text-align: unset;
        padding-left: 20px;
    }

    .myDetails-content>p {
        text-align: unset;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 11px;
    }

    .myserviceItem-list {
        display: flex;
        flex-flow: column;
        padding: 15px;
    }

    #editbtn {
        width: 85px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .update-sub {
        width: 100%;
        margin-top: 70px;
    }

    .update {
        padding: 15px;
        padding-bottom: 100px;
    }

    .form-item {
        width: 100%;
    }

    #saveBtn {
        font-size: 14px;
    }

    .basic,
    .service-form,
    .project-form {
        padding: 15px;
    }

    .works-list {
        width: 90%;
    }

    #step-images {
        display: none;
    }

    .work-steps>h1 {
        font-size: 25px;
    }

    .workSteps-item>h2 {
        font-size: 20px;
        line-height: 22px;
    }

    .workSteps-item>h3 {
        font-size: 16px;
    }

    .works-item>h1 {
        font-weight: 700;
        font-size: 29px;
    }

    .works {
        background-image: url("/images/workmob.jpg");
        background-position: unset;
        background-repeat: no-repeat;
        height: 310px;
        width: 100%;
    }

    .pricinghead-sub {
        width: 90%;
    }

    .pricinghead-sub>h3 {
        font-weight: 600;
        font-size: 20px;
    }

    .pricing-list,
    .pricing-item {
        width: 100%;
    }

    .myserviceItem-item {
        width: 90%;
    }

    .payment-list {
        display: flex;
        flex-flow: column;
        justify-content: center;
        width: 70%;
        align-items: center;

    }

    .payment-list>a {
        font-size: 19px;
    }

    #log {
        top: 310px;
    }
}
